html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    line-height: 1.4;
    color: #1b1b1b;
    margin: 0;
    padding: 0;
}



.intro {
    background: #23424A;
    padding: 3rem 0;
    /* width: 80%; */
    color: #fff;
}

.wrapper {
    width: 85%;
    margin: 0 auto;

}

.intro-text {
    width: 60%;
}

h1 {
    font-size: 3rem;
    line-height: 1;
}

p{
    font-size: 1.35rem;
}







/*                    BUTTON         */

.btn {
    display: inline-block;
    background: #38CFD9;
    text-decoration: none;
    text-transform: uppercase;
    padding: .5em 2em;
    border-radius: 50px;
    margin-block: 2rem;
    color: #000;
    font-weight: bold;
}